{{#each tarefas}}

{{#if completo}}
<div class="card mt-4" style="background-color: rgba(255, 0, 0, 0.39);">
    <div class="card-body" style="height: 120px;">
        <form action="/usuarios/deletar/{{_id}}" method="post">
            <label style="display: inline-block; width: 1100px; font-size: 18pt;">{{nome}}</label>
            <input type="hidden" value="{{_id}}" name="id">
            <button class="btn btn-success mt-4" type="submite"
                style="margin-left: 200px%; width: 100px; height: 50px;">Deletar!</button>
        </form>
    </div>
</div>







{{else}}
<div class="card mt-4" style="background-color: rgba(21, 245, 95, 0.438);">
    <div class="card-body" style="height: 120px;">
        <form action="/usuarios/deletar/{{_id}}" method="post">
            <label style="display: inline-block; width: 1100px; font-size: 18pt;">{{nome}}</label>
            <input type="hidden" value="{{_id}}" name="id">
            <button class="btn btn-success mt-4" type="submite"
                style="margin-left: 200px%; width: 100px; height: 50px;">Deletar!</button>
        </form>
    </div>
</div>

{{/if}}





{{else}}

<div class="card">
    <div class="card-body">
        <h4>Nenhuma tarefa encontrada!</h4>
    </div>
</div>

{{/each}}